header {
    background-color: #216d0e;
    margin-bottom: 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    float: right;
    margin-top: 35px;
}
nav li a {
color: white;
padding: 14px 150px ;
text-decoration: none;
}
.intro-block{

}
#intro{
    background:black url(img/mowing.jpg) no-repeat center;
    background-size: cover ;
    padding-bottom: 60px;
    padding-top: 200px;
}
h1{
font-size: 60px;
font-family: 'Arial' , sans-serif; 
margin-bottom:250px;
color: white;
}
h2{
    font-size: 30px;
font-family: 'Arial' , sans-serif; 
color: white;
}
.intro-block img {
    border-radius: 20px;
    border: solid 1px #000;
    margin: 30px;
}
footer{
    text-align: center;
    background-color: #091f00;
    color: white;
    padding: 20px;
}
#semamo{
    background:black url(img/contact-hero.jpg) no-repeat center;
    background-size: cover ;
    padding-bottom: 60px;
    padding-top: 200px;
}
.button {
    color:#ffffff;
   font-size:19px;
    margin: 30px 20px;
    padding: 15px 15px;
    border: 2px solid #ffffff;
    min-width: 150px;
    text-decoration: none;
    background-color: #4e913d;
   }

   .button:hover{
    background-color:rgb(13, 71, 11);
   }
   .semamo-block{
    padding-top: 50px;
    padding-bottom: 50px ;
    text-align: center ;
    background-color: #93d3e7d3 ;
    margin-top: 400px ;
}
#noce{
color: #000;
}
#ne{
    color: #000;
    text-align: center;
    padding-top: 900px;
}
#si{
    font-size: 50px;
    font-family: 'Arial' , sans-serif; 
    text-align:center ;
    padding-bottom: 100px;
}
#se{
    color: #000000;
}


table td{
    width:40%; 
    border:solid 1px #000;
    text-align: center;
}

table h1{
    color:grey;
    vertical-align: middle;
}
